.btn-primary {
    border-color: $black !important;

    background-color: $primary;

    &:hover {
        background-color: $gray-900;
    }

    &:active {
        border-color: $primary !important;

        background-color: $primary !important;
    }
}

.btn-secondary {
    border-color: $black !important;

    background-color: $secondary;

    &:hover {
        background-color: $gray-500;
    }
}

.btn-link {
    color: $white;
    background-color: $primary;
    text-decoration: none !important;

    border-color: 1px solid $black !important;

    &:hover {
        color: $white;
        background-color: $secondary;
    }

    &:active {
        color: $white;
        border-color: $primary !important;

        background-color: $primary !important;
    }
}

.btn-dark {
    background-color: $gray-900 !important;

    &:hover {
        background-color: $gray-700 !important;
    }
}
