input[type="text"],
textarea {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $secondary !important;

    font-family: monospace;
    color: white !important;
    background-color: $secondary !important;

    transition: 250ms border-color;

    &:focus {
        border-color: $white !important;
    }
}
